<!-- start custom footer snippets -->
      <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=DavidSisourath', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
      <p>Subscribe via email:</p>
      <p><input type="text" style="width:240px" name="email" placeholder="Email address" autocomplete="off"/></p>
      <input type="hidden" value="DavidSisourath" name="uri"/><input type="hidden" name="loc" value="en_US"/>
      <input type="submit" value="Subscribe" />
      <a class="footer-link" href="https://feedburner.google.com/fb/a/mailverify?uri=DavidSisourath" target="_blank"><br/>Direct link to Google Feedburner</a>  
      </form> 
<!-- end custom footer snippets -->